body {
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    color: #676262;
    min-height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, .5);
    width: 95%;
    padding: 8px 0px;    
    margin-bottom: 20px;
}

.col {
    padding: 0px;
}

.row {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}
.navbar {
    background-color: rgba(0, 0, 0, .5);
}

.navbar-brand-logo {
    width: 50px;
}

.nav-link {
    color: whitesmoke;
}

.search {
    display: flex;
}

.btn {
    border: solid 1px #92a5b7;
    background-color: whitesmoke;
}

.btn-loupe {
    width: 20px;
    text-align: center;
}

.btn-add-favourite {
    background: inherit;
    color: skyblue;
    margin-right: 20px;
}

.btn-add-favourite:hover {
    color: #c599e7;
}
.btn-add-favourite:focus {
    box-shadow: none;
}

.btn-delete-favourite {
    background: inherit;
    color: skyblue;
    margin-right: 20px;
    display: none;
}

.btn-delete-favourite:hover {
    color: #c599e7;
}
.btn-delete-favourite:focus {
    box-shadow: none;
}

.city-name {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.favourite-logo {
    width: 40px;
    padding: 0px 5px;
    margin-left: 15px;
}

.favourite-logo:hover {
    cursor: pointer;
}

.current-temp {
    font-size: 100px;
}
.condition {
    margin-bottom: 50px;
}

.sr-only{
    left:0px;
}

div.col-hours {
    overflow: auto;
    white-space: nowrap;
    text-align: center;
 }

 div.col-hours .weather-by-hour {
    display: inline-block;
    text-align: center;
    padding: 14px;
    color: #676262;
 }

 .day {
    background-color: rgba(255, 255, 255, 0.7);
 }

 div.weather-by-day {
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 div.weather-by-day p {
    width: 30%;
    text-align: center;
 }

 
